export(ls_add_smooth)
export(LinkEDA)
export(rlispstat)
export(edit_data)
export(choose_data)
export(ls_clear_selection)
export(ls_analysis_scope)
export(ls_saved_selections)
export(ls_save_analysis_scope)
export(ls_use_saved_analysis_scope)
export(ls_add_saved_analysis_scope)
export(ls_set_analysis_scope)
export(ls_use_selected_as_analysis_scope)
export(ls_use_all_observations)
export(ls_close)
export(ls_close_all)
export(ls_active_dataset)
export(ls_analysis_backend)
export(ls_barplot)
export(ls_boxplot)
export(ls_boxplot_add_variable)
export(ls_boxplot_connect_rows)
export(ls_boxplot_clear_h0_simulation)
export(ls_boxplot_h0_simulation)
export(ls_boxplot_options)
export(ls_boxplot_remove_variable)
export(ls_boxplot_show_box)
export(ls_boxplot_show_points)
export(ls_boxplot_show_whiskers)
export(ls_boxplot_show_violin)
export(ls_boxplot_split_violin)
export(ls_boxplot_standardize_variables)
export(ls_close_data_sheet)
export(ls_clear_row_color)
export(ls_color_selected_rows)
export(ls_copy_correlation_matrix)
export(ls_data_sheet)
export(ls_data_sheet_active_dataset)
export(ls_datasets)
export(ls_group_info)
export(ls_groups)
export(ls_glm)
export(ls_glm_add_predictor)
export(ls_glm_add_interaction)
export(ls_glm_add_polynomial)
export(ls_glm_coefficient_rows)
export(ls_glm_coefficients)
export(ls_glm_diagnostic_state)
export(ls_glm_diagnostics)
export(ls_glm_fit)
export(ls_glm_fit_summary)
export(ls_glm_formula)
export(ls_glm_get_dependent)
export(ls_glm_open_diagnostic)
export(ls_glm_partial_r)
export(ls_glm_partial_r2)
export(ls_glm_pairwise)
export(ls_glm_interaction)
export(ls_glm_interaction_contrasts)
export(ls_glm_delta_r2)
export(ls_glm_predictors)
export(ls_glm_refresh_diagnostics)
export(ls_glm_remove_predictor)
export(ls_glm_rows_excluded)
export(ls_glm_rows_used)
export(ls_glm_set_dependent)
export(ls_glm_terms)
export(ls_glm_window)
export(ls_generalized_linear_model_coefficient_rows)
export(ls_generalized_linear_model_coefficients)
export(ls_generalized_linear_model_diagnostics)
export(ls_generalized_linear_model_fit)
export(ls_generalized_linear_model_fit_summary)
export(ls_generalized_linear_model_open_diagnostic)
export(ls_generalized_linear_model_set_family)
export(ls_generalized_linear_model_set_link)
export(ls_generalized_linear_model_set_response_bounds)
export(ls_generalized_linear_model_state)
export(ls_generalized_linear_model_term_tests)
export(ls_generalized_linear_model_pairwise)
export(ls_generalized_linear_model_interaction)
export(ls_generalized_linear_model_interaction_contrasts)
export(ls_new_positive_continuous_model)
export(ls_positive_continuous_model_set_distribution)
export(ls_positive_continuous_model_term_tests)
export(ls_new_proportion_model)
export(ls_proportion_model_set_distribution)
export(ls_proportion_model_term_tests)
export(ls_compare_generalized_linear_models)
export(ls_import_data)
export(ls_export_data)
export(ls_import_csv)
export(ls_import_excel)
export(ls_import_mice)
export(ls_import_rdata)
export(ls_import_rds)
export(ls_import_sas)
export(ls_import_spss)
export(ls_import_stata)
export(ls_import_tsv)
export(ls_completed_dataset)
export(ls_imputation_summary)
export(ls_new_missing_data_imputation)
export(ls_new_model_trellis)
export(ls_run_imputation)
export(ls_set_imputed_dataset_version)
export(ls_glm_regression_table)
export(ls_copy_glm_table)
export(ls_export_glm_table)
export(ls_copy_generalized_linear_model_table)
export(ls_copy_mixed_model_table)
export(ls_export_generalized_linear_model_table)
export(ls_export_mixed_model_table)
export(ls_generalized_linear_model_table)
export(ls_correlation_matrix_add_variable)
export(ls_correlation_matrix_cells)
export(ls_correlation_matrix_remove_variable)
export(ls_correlation_matrix_state)
export(ls_correlation_matrix_table)
export(ls_dendrogram_add_variable)
export(ls_dendrogram_hclust)
export(ls_dendrogram_remove_variable)
export(ls_dendrogram_state)
export(ls_dimensionality_add_variable)
export(ls_dimensionality_eigenvalues)
export(ls_dimensionality_loadings)
export(ls_dimensionality_remove_variable)
export(ls_dimensionality_save_scores)
export(ls_dimensionality_scores)
export(ls_dimensionality_state)
export(ls_regression_comparison_table)
export(ls_record_clear)
export(ls_record_copy_internal)
export(ls_record_copy_r)
export(ls_record_replay)
export(ls_record_save_r)
export(ls_record_show)
export(ls_record_start)
export(ls_record_stop)
export(ls_copy_regression_comparison_table)
export(ls_export_regression_comparison_table)
export(ls_copy_barplot)
export(ls_copy_barchart)
export(ls_export_boxplot)
export(ls_copy_plot)
export(ls_export_correlation_matrix)
export(ls_copy_boxplot)
export(ls_copy_scatterplot)
export(ls_export_barplot)
export(ls_export_barchart)
export(ls_export_histogram)
export(ls_export_plot)
export(ls_export_scatterplot)
export(ls_copy_histogram)
export(ls_histogram)
export(ls_histogram_bins)
export(ls_histogram_breaks)
export(ls_histogram_density_adjust)
export(ls_histogram_density_bw)
export(ls_histogram_density_info)
export(ls_histogram_density_mode)
export(ls_histogram_rule)
export(ls_histogram_show_density)
export(ls_invert_selection)
export(ls_lm_line)
export(ls_plot_theme)
export(ls_mode)
export(ls_get_selected_color)
export(ls_get_xvar)
export(ls_get_yvar)
export(ls_numeric_variables)
export(ls_new_scatterplot)
export(ls_new_boxplot)
export(ls_new_barplot)
export(ls_new_correlation_matrix)
export(ls_new_contingency_table)
export(ls_new_dimensionality)
export(ls_new_scale_analysis)
export(ls_scale_analysis_state)
export(ls_scale_analysis_summary)
export(ls_scale_analysis_items)
export(ls_scale_analysis_correlations)
export(ls_scale_analysis_dimensionality)
export(ls_scale_analysis_scores)
export(ls_scale_analysis_save_scores)
export(ls_scale_analysis_set_items)
export(ls_scale_analysis_set_options)
export(ls_new_quick_cluster)
export(ls_new_glm)
export(ls_new_one_sample_t_test)
export(ls_new_independent_samples_t_test)
export(ls_new_paired_samples_t_test)
export(ls_new_one_way_anova)
export(ls_new_generalized_linear_model)
export(ls_new_count_regression)
export(ls_count_regression_fit)
export(ls_count_regression_coefficients)
export(ls_count_regression_coefficient_rows)
export(ls_count_regression_fit_summary)
export(ls_count_regression_diagnostics)
export(ls_count_regression_open_diagnostic)
export(ls_count_regression_state)
export(ls_count_regression_term_tests)
export(ls_count_regression_set_distribution)
export(ls_count_regression_set_exposure)
export(ls_count_regression_set_trials)
export(ls_count_regression_pairwise)
export(ls_count_regression_interaction)
export(ls_count_regression_interaction_contrasts)
export(ls_compare_count_regression_models)
export(ls_new_binary_regression)
export(ls_binary_regression_fit)
export(ls_binary_regression_state)
export(ls_binary_regression_coefficients)
export(ls_binary_regression_fit_summary)
export(ls_binary_regression_diagnostics)
export(ls_binary_regression_open_diagnostic)
export(ls_binary_regression_term_tests)
export(ls_binary_regression_pairwise)
export(ls_binary_regression_interaction)
export(ls_binary_regression_interaction_contrasts)
export(ls_compare_binary_regression_models)
export(ls_new_histogram)
export(ls_new_linear_mixed_model)
export(ls_new_generalized_mixed_model)
export(ls_new_regression_comparison)
export(ls_open_data_sheet)
export(ls_model)
export(ls_model_add_term)
export(ls_model_fit)
export(ls_model_info)
export(ls_model_open_diagnostics)
export(ls_model_open_observed_fitted)
export(ls_model_open_residuals_fitted)
export(ls_model_remove_term)
export(ls_model_scope)
export(ls_model_set_y)
export(ls_mixed_model_add_fixed_effect)
export(ls_mixed_model_add_random_effect)
export(ls_mixed_model_add_random_slope)
export(ls_mixed_model_diagnostics)
export(ls_mixed_model_open_diagnostic)
export(ls_mixed_model_refit)
export(ls_mixed_model_remove_fixed_effect)
export(ls_mixed_model_remove_random_effect)
export(ls_mixed_model_remove_random_slope)
export(ls_mixed_model_scope)
export(ls_mixed_model_set_family)
export(ls_mixed_model_set_method)
export(ls_mixed_model_set_response)
export(ls_mixed_model_state)
export(ls_mixed_model_table)
export(ls_overlays)
export(ls_palette)
export(ls_panel)
export(ls_plot_info)
export(ls_plots)
export(ls_redraw)
export(ls_regression_comparison_add_model)
export(ls_regression_comparison_add_term)
export(ls_regression_comparison_open_diagnostic)
export(ls_regression_comparison_set_term)
export(ls_regression_comparison_state)
export(ls_scatter)
export(ls_scatterplot_matrix)
export(ls_parallel_coordinates)
export(ls_trellis_scatterplot)
export(ls_new_trellis_scatterplot)
export(ls_trellis_scatterplot_x)
export(ls_trellis_scatterplot_y)
export(ls_trellis_scatterplot_condition)
export(ls_trellis_scatterplot_display)
export(ls_trellis_plot_type)
export(ls_trellis_condition_add)
export(ls_trellis_condition_remove)
export(ls_trellis_condition_move)
export(ls_trellis_condition_dimension)
export(ls_trellis_swap_dimensions)
export(ls_time_series)
export(ls_new_time_series)
export(ls_time_series_group)
export(ls_time_series_identification)
export(ls_select_all)
export(ls_select_where)
export(ls_selected)
export(ls_selection_mode)
export(ls_selection_operation)
export(ls_set_mode)
export(ls_copy_table1)
export(ls_export_table1)
export(ls_refresh_r_dataframes)
export(ls_register_dataset)
export(ls_reset_window_layout)
export(ls_set_active_dataset)
export(ls_set_row_color)
export(ls_set_point_color)
export(ls_set_selected_color)
export(ls_set_variable_type)
export(ls_set_selection_operation)
export(ls_set_selected)
export(ls_set_xvar)
export(ls_set_yvar)
export(ls_new_table1)
export(ls_set_variable_role)
export(ls_table1_table)
export(ls_variables)
export(ls_variable_info)
export(ls_variable_metadata)
export(ls_variables_window)
export(ls_workbench)
export(ls_unregister_dataset)
export(ls_show_data_sheet)
export(ls_get_row_colors)
export(ls_get_active_dataset)
export(ls_get_data_version)
export(ls_complete_data_version)
export(ls_row_ids)
export(ls_select_rows_by_id)
export(ls_tile_windows)
export(ls_clear_overlays)
S3method(print, rlispstat_plot)
S3method(print, rlispstat_model)
S3method(print, rlispstat_imputation_summary)
S3method(print, rlispstat_table1)
S3method(coef, rls_mi_term_restriction)
S3method(vcov, rls_mi_term_restriction)
S3method(coef, rls_mi_mean_submodel)
S3method(vcov, rls_mi_mean_submodel)
useDynLib(LinkEDA, .registration = TRUE)
importFrom(stats,.getXlevels)
importFrom(stats,setNames)
importFrom(utils,capture.output)
importFrom(utils,head)
importFrom(utils,tail)

export(ls_imputation_diagnostics)
export(ls_missing_information_diagnostics)

export(ls_missing_data_overview)
export(ls_missingness_model)
export(ls_save_missing_data)

export(ls_scale_analysis_save_total)
